
<div id="signout">
  <button class="btn btn-success" (click)="signOut()">SignOut</button>
</div>
<div id="admin">
<h3>Admin can manage all the section</h3><br><br>

<button width="50px" class="btn btn-success"><a [routerLink]="['/plant']">Go to Plant Section</a></button><br><br>

<button width="50px" class="btn btn-success"><a [routerLink]="['/seed']">Go to seed Section</a></button><br><br>

<button width="50px" class="btn btn-success"><a [routerLink]="['/planter']">Go to Planter Section</a></button><br><br>

<button width="50px" class="btn btn-success"><a [routerLink]="['/customerblock']">Go to Customer Section</a></button><br><br>

<button width="50px" class="btn btn-success"><a [routerLink]="['/orderblock']">Go to Order Section</a></button><br>




</div>