

<body>
<div id="signout">
    <button class="btn btn-success" (click)="signOut()">SignOut</button>
  </div>


<div id="customer">

<h3>Customer section</h3> 

   <button class="btn btn-success">  <a [routerLink]="['/viewplant']">Go to Plant Section</a></button><br><br>
   <button class="btn btn-success">  <a [routerLink]="['/viewseed']">Go to seed Section</a></button><br><br>
   <button class="btn btn-success">  <a [routerLink]="['/viewplanter']">Go to Planter Section</a></button><br><br>
</div>
</body>
